version: 22.13.1

services:
  app-service:
      build: ./app_service
      ports: 
        - "8080:8080"
      volumes:
        - ./app_service:/app
        - data:../LibrarySystem

  
  authentication-service:
    build: ./authentication_service
    ports: 
      - "5001:5001"  
    volumes:
      - ./authentication_service:/app
      - data:../LibrarySystem
    
  book-service:
    build: ./book_service
    ports:
      - "5002:5002"
    volumes:
      - ./book_service:/app
      - data:../LibrarySystem
    networks:
      - booknet

  borrow-return-service:
    build: ./borrow_return_service
    ports:
      - "5003:5003"
    volumes:
      - ./review_service:/app
      - data:../LibrarySystem
    environment:
      - BOOK_SERVICE_URL=http://book-service:5002/api/books
    networks:
      - booknet
    depends_on:
      - book-service


networks:
  booknet:
    driver: bridge


volumes:
  data:
