<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Library Welcome Page</title>
    <link rel="stylesheet" type="text/css" href="styles/welcome.css" />
  </head>
  <body>
    <div class="welcome-container"></div>
        <h1>Welcome to Our Online Library</h1>
        <p>Please log in or sign up to continue.</p>
        <div class="button-group">
            <a href="/login" class="btn">Log In</a>
            <a href="/signup" class="btn">Sign Up</a>
        </div>
    </div>
  </body>
</html>
